* {
  box-sizing: border-box;
}

body {
background: rgb(214,176,175);
}

.heading {
    margin-top: 20px;
    margin-bottom: 80px;
}
.heading .logo {
  height: auto;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.heading h1 {
  text-align: center;
  color: white;
  margin: -2rem 0 0 0;
  font-family: fantasy;
  font-size: 1.3rem;
}

.landing-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
/*   height:min-content; */
}

.landing-container > * {
 flex-basis: 30%;
/*  background: #e87889; */
 min-width:300px;
/*  color: white */
}

.landing-container img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 20% 50%;
  border-radius: 10px;
  transition: transform 0.2s;
}

.landing-container img:hover {
  outline: 4px solid white;
  transform: scale(1.04);
}

.landing-container h3 {
  font-size: 1.2rem;
  color: #440706;
}




.recipes-container {
    display: flex;
    flex-flow: column;
/*       gap: 2rem; */
/*       justify-content: space-evenly; */
    align-items: flex-start;
/*       align-items: center; */
/*       padding-left: 100px; */
/*       align-content:flex-end; */
    outline: 10px solid red;
/*       min-height: 200vh; */
  padding: 10px;
}

 .recipes-container > * {
   border: 10px solid green;
   background:gray;
   
   flex-grow: 1;      /* default 0 */
   flex-shrink: 1;    /* default 1 */
   flex-basis: auto;  /* default auto */

   
 }

.recipe-head {

  
}
.recipe-head img {
/*       height: auto;
    width:1000px;
    max-width: 100%; */
}

.recipe-head h1 {

}

.recipes-container .description {
/*   flex: 1 0 %20; */
/*   white-space: nowrap; */
}

.recipes-container .ingredients {
/*     flex:1; */
/*   padding: 0 100px; */
/*   white-space:nowrap; */
  
}
 .recipes-container .steps {
    
 }

/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            
} */
